

<nav class="navbar  navbar-dark bg-light">
  <div class="container-fluid">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a href="/"> <img src="../favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <span class="navbar-brand text-center"></span>
      </a>
      </div>
    </nav>
  </div>
</nav>
<br><br>
<div class="container">
   <div class="col-md-5">
     <div col-md-4  mt-4>
        <ul class="list-group">
          <li 
          *ngFor=" let employee of employeeArray"
          class="list-group-item list-group-item-action" 
          (click)="openForEdit(employee)"
          [class.active]="employee == selectedEmployee"
          >


           <span class="badge bg-primary">{{employee.id}}</span> {{ employee.name}} -  {{employee.apellido}} - {{employee.fechaingreso}}
          </li>
        </ul>
        <div class="card mt-4">
          <div class="card-body">
          <div class="card-title">
          Insertar  nombre empleado
          </div>
          <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="insert name" class="form-control">
          </div>
          <br>
          Insertar apellido empleado
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedEmployee.apellido" placeholder="insert apellido " class="form-control">
          </div>
          <br>
          <div class="form-group">
          Fecha de ingreso
          <input type="date" value="2001-03-04" min=""[(ngModel)]="selectedEmployee.fechaingreso"  class="form-control">
          
          </div>
          <br>
          <button (click)="addOrEdit()" class="btn bg-primary text-white text-center">
          Agregar
           </button>
            
            <button 
            *ngIf="selectedEmployee.id !== 0"
            class="btn btn-danger mx-2"
            (click)="delete()"
            >
            borrar</button>
          </div>
        </div>
     </div>
   </div>
</div>