/* You can add global styles to this file, and also import other style files */
body{
background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
     justify-content: center;
     padding: 17px;
     border-radius: 5px;
     position: absolute;
     top: 20%;
     left: 30%;
}

.navbar-brand img {
    max-width: 100px; 
    height: auto; 
  }

  @media(max-width:991px){
    
  }